body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Main__Index {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Header Header Header Header"
 "Navigation Navigation Navigation Navigation"
 "Footer Footer Footer Footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: 25% auto 25%;
      grid-template-columns: 25% auto 25%;
}

.Header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #84a1bc;
}

.Header__Text {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: white;
}

.Header__Logo {
  margin: 0%;
  padding: 0%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.Header__Nothing {
  width: 70px;
  height: 70px;
  visibility: hidden;
}

.Header__Go-Back {
  width: 60px;
  height: 60px;
}

.Navigation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: Navigation;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(https://images.unsplash.com/photo-1504207277217-3a177a9c2e08?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1185&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Navigation ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

.Navigation ul li {
  padding: 20px;
  text-align: center;
}

.Navigation ul li a {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.Navigation ul li a:hover {
  background: lightslategray;
}

.Navigation .button, .Navigation .button--sucursales, .Navigation .button--profes, .Navigation .button--contacto, .Navigation .button--galeria {
  font-size: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: #686666;
  color: #fcfcfc;
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 15px -2px #000000;
  box-shadow: 0px 0px 15px -2px #000000;
}

.Navigation .button--sucursales {
  background-color: red;
}

.Navigation .button--profes {
  background-color: blueviolet;
}

.Navigation .button--contacto {
  background-color: green;
}

.Navigation .button--galeria {
  background-color: yellowgreen;
}

.Footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #a09e9e;
}

.Footer img {
  width: 45px;
  height: 45px;
}

.Footer__Redes:hover {
  -webkit-animation: bounce 1.2s linear;
          animation: bounce 1.2s linear;
}

@-webkit-keyframes bounce {
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

.Main__Profes {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Header Header Header"
 "Profe Profe Profe"        
 "Footer Footer Footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: 33.33% auto 33.33%;
      grid-template-columns: 33.33% auto 33.33%;
  grid-row-gap: 15px;
}

.Main__Profes {
  background-image: url(../Source/profes-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Profesores {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Profe;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.Profesores img {
  width: auto;
  height: 525px;
}

.Profesores h3 {
  font-size: 1.75rem;
}

.Profesores p {
  font-style: italic;
  font-size: 1rem;
}

.Main__Sucursales {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Header Header Header"
 "Location Location Location"
 "Footer Footer Footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: 33.33% auto 33.33%;
      grid-template-columns: 33.33% auto 33.33%;
}

.Main__Sucursales {
  background-image: url(../Source/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Locations {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Location;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  text-align: center;
  color: white;
}

.Locations iframe {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -2px #000000;
  box-shadow: 0px 0px 15px -2px #000000;
}

.Locations h2 {
  padding-bottom: 10px;
  text-align: center;
  -webkit-text-stroke: 1.3px black;
  color: white;
  margin: 0%;
  font-size: 2rem;
}

.Main__Galeria {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Header Header Header"
 "Pic Pic Pic"
 "Footer Footer Footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: 33.33% auto 33.33%;
      grid-template-columns: 33.33% auto 33.33%;
}

.container-galeria {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Pic;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  background-color: #e2dfdf;
}

.container-galeria__grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-galeria__grid-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.Main__Contacto {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Header Header Header"
 "Contacto Contacto Contacto"
 "Footer Footer Footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: 33.33% auto 33.33%;
      grid-template-columns: 33.33% auto 33.33%;
  background-image: url(../Source/Background_Contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Main__Contacto form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Contacto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 450px;
  height: auto;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 100px;
  border-radius: 10px;
}

.Main__Contacto .Formulario h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.Main__Contacto .Formulario input, .Main__Contacto .Formulario textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.Main__Contacto .Formulario textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.Main__Contacto #boton {
  font-weight: bold;
  font-size: 1.75rem;
  background: #686666;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.Main__Login {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Header Header Header"
 "Login Login Login"
 "Footer Footer Footer";
  -ms-grid-rows: 10% auto 10%;
      grid-template-rows: 10% auto 10%;
  -ms-grid-columns: 33.33% auto 33.33%;
      grid-template-columns: 33.33% auto 33.33%;
  background-image: url(../Source/Fondo_Login.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Login {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Login;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Login__Form {
  color: white;
  padding: 50px 60px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.55);
}

@media all and (max-width: 1425px) {
  .Locations iframe {
    max-width: 400px;
    max-height: 550px;
  }
}

@media all and (max-width: 1425px) and (max-width: 950px) {
  .Locations iframe {
    max-width: 350px;
    max-height: 500px;
  }
}

@media all and (max-width: 1425px) and (max-width: 950px) and (max-width: 600px) {
  .Header H1 {
    font-size: 20px;
  }
  .Footer a {
    padding-right: 12px;
    padding-left: 12px;
  }
  .Locations {
    padding-bottom: 20px;
  }
  .Locations iframe {
    max-width: 300px;
    max-height: 300px;
  }
  .Formulario {
    max-width: 320px;
  }
  .grid-container-galeria {
    padding: 5px;
  }
}

@media all and (max-width: 1425px) and (max-width: 950px) and (max-width: 600px) and (max-width: 460px) {
  .Locations {
    padding: 0%;
  }
  .Locations iframe {
    max-width: 250px;
    max-height: 300px;
  }
}
/*# sourceMappingURL=estilos.css.map */